{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Inward Slip List {% endblock title %}



{% block content %}
<div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
        <div class="col-md-8" style="font-family: 'Alkalami'" > Inwards Slip(Non-Consumable)</div>
        </div>
      </div>
    <div class="card-body" style="font-family: 'Alkalami'">

<br>

<div class="form-group" style="font-family:'Alkalami'">
    <input id="myInput" type="text" class="search form-control"  placeholder="Search">
</div>

<form  action="{% url 'noninwardslip' %}" method="POST">
        {% csrf_token %}
    <div style="font-family:'Alkalami'">
        From: <input type="date" name="fromdate">
        To: <input type="date" name="todate">
        <input class="btn btn-info"  type="submit" value="Search">

    </div>
</form>

<div style="overflow-y:auto; overflow-x:auto; font-family:'Alkalami'" >
    <style>
#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #343a40;
  color: white;
  border-color:#454d55;

}
</style>
 <table class=" table table-css table-bordered table-hover"  style="font-family:'Alkalami'"  onkeyup="myFunction()">

        <thead class="thead-dark align-middle">
            <tr>
                <th width="7%">Bill No.</th>
                <th width="15%">Date</th>
                <th width="10%">From Whom Received</th>
                <th width="23%">Description Of Stores</th>
                <th width="10%">Quantity</th>
                <th width="15%">Recd. By</th>
                <th width="10%">Conditions</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
<div class="list">
{% if bills %}
     <tbody id="myTable">
            {% for nonstock in bills %}
            <tr>
                <td class="align-middle"> <p>{{ nonstock.billno }}</p> </td>
                <td class="align-middle">{{ nonstock.time.date }}</td>
                <td class="align-middle"> {{ nonstock.name }} <br> </td>
                <td class="align-middle"> {{ nonstock.description }} <br></td>
                <td class="align-middle"> {{ nonstock.quantity }} <br> </td>
                <td class="align-middle">{{ nonstock.Mode_of_delivery }} <br> </td>
                <td class="align-middle"> {{ nonstock.condition}} <br> </td>
                <td class="align-middle">
                    <a href="{% url 'inwardnc-bill' nonstock.billno %}" class="btn btn-info btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg></a>
            </tr>
            {% endfor %}
        </tbody>
</div>
    </table>
</div>
</div>
</div>
<br>


<div style="font-family:'Alkalami'">
            <a href="{% url 'nonstockre' %}" class="btn btn-info">Export</a>
</div>





<div class="align-middle">
          {% if bills.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if bills.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bills.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in bills.paginator.page_range %}
          {% if bills.number == p %}
            <li class="page-item"><a class="page-link" style="color: blue;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if bills.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bills.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
    </div>


        <br>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;font-family:'Alkalami'">The records are empty. Please try adding some.</div>

{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</script>
{% if error == "yes" %}
<script>
alert('Please Select Date');
window.location=('{% url 'stocknoninwardslip' %}');
</script>
{% endif %}

{% endblock content %}