{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Purchases List {% endblock title %}


{% block content %}
    <div class="card text-left">
          <div class="card-header" style="background-color:#01345B">
            <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" >Nonconsumable Purchase List</div>
            <div class="col-md-4">
                <div style="float:right; margin-top:8%;font-family:'Alkalami'"> <a class="btn btn-info" href="{% url 'new-stock' %}">Add New Stock</a> </div>
            </div>
            </div>
          </div>
    </div>


    <br>

    <table class="table table-css table-hover table-bordered" style="font-family:'Alkalami'">

        <thead class="thead-dark align-middle">
            <tr>
                <th width="10%">Bill No.</th>
                <th width="10%">Date</th>
                <th width="10%">From Whom Received</th>
                <th width="15%">Descriptions</th>
                <th width="10%">Quantity Purchased</th>
                <th width="10%">Recd. By </th>
                <th width="15%">Total Purchased Price</th>
                <th width="10%">Condition</th>
                <th width="25%">Actions</th>
            </tr>
        </thead>

{% if bills %}

        <tbody>         
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <p>{{ purchase.billno }}</p> </td>
                <td class="align-middle">{{ purchase.time.date }}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.name }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.description }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.quantity }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.Mode_of_delivery }} <br> {% endfor %}</td>
                <td class="align-middle">₹{{ purchase.get_total_price }}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.condition}} <br> {% endfor %}</td>
                <td class="align-middle"> <a href="{% url 'nonpurchase-bill' purchase.billno %}" class="btn btn-secondary btn-sm">View</a> <a href="{% url 'delete-nonpurchase' purchase.pk %}" class="btn btn-danger btn-sm">Delete</a> </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;font-family:'Alkalami'">The records are empty. Please try adding some.</div>
{% endif %}

{% endblock content %}