{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Inward(Non-Consumable) List {% endblock title %}


{% block content %}
    <div class="card text-left">
          <div class="card-header" style="background-color:#01345B">
            <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" >Inward Item List(Non-Consumable)</div>

            </div>
          </div>
          <div class="card-body" style="font-family: 'Alkalami'">

<br>

<div class="form-group" style="font-family:'Alkalami'">
    <input id="myInput" type="text" class="search form-control"  placeholder="Search">
</div>

    <br>
<div style="overflow-y:auto; overflow-x:auto; font-family:'Alkalami'" >
    <style>
#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #343a40;
  color: white;
  border-color:#454d55;

}
</style>

    <table class="table table-css table-hover table-bordered" style="font-family:'Alkalami'"  id="myTable" onkeyup="myFunction()">

        <thead class="thead-dark align-middle">
            <tr>
                <th width="10%">Bill No.</th>
                <th width="10%">Date</th>
                <th width="10%">From Whom Received</th>
                <th width="15%">Descriptions</th>
                <th width="10%">Quantity Purchased</th>
                <th width="10%">Recd. By </th>
                <th width="15%">Total Purchased Price</th>
                <th width="10%">Condition</th>
                <th width="25%">Actions</th>
            </tr>
        </thead>

{% if bills %}

        <tbody>         
            {% for purchase in bills %}
            <tr>
                <td class="align-middle"> <p>{{ purchase.billno }}</p> </td>
                <td class="align-middle">{{ purchase.time.date }}</td>
                <td class="align-middle"> {{ purchase.supplier.name }} <br> </td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.description }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.Mode_of_delivery }} <br> {% endfor %}</td>
                <td class="align-middle">₹{{ purchase.get_total_price }}</td>
                <td class="align-middle">{% for item in purchase.get_items_list %} {{ item.nonstock.condition}} <br> {% endfor %}</td>

                <td class="align-middle">
                    <a href="{% url 'nonpurchase-bill' purchase.billno %}" class="btn btn-info btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg></a>
<!--                    <a href="{% url 'delete-nonpurchase' purchase.pk %}" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                    </svg> </a>-->
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
          </div>
</div>
<br>
 <div style="font-family:'Alkalami'">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
    </div>
<br>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;font-family:'Alkalami'">The records are empty. Please try adding some.</div>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock content %}