
{% extends "base.html" %}


{% block title %} New Purchase {% endblock title %}


{% block content %}

    <div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" >Add Item</div>
                <div class="col-md-4">
                    <div style="float:right; margin-top:8%">
                </div>
            </div>

        </div>
      </div>

    <br>
  <div class="card-body" style="font-family: 'Alkalami'">
    <form method="post">
        <label for="id_consumer">Supplier:</label>
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ supplier.label_tag }}
                {{ field }}
            </div>
        {% endfor %}

        <br>
        <div class="align-middle">
            <button type="submit" class="btn btn-success">Next</button>
        </div>

    </form>
    </div>
    </div>
{% endblock content %}