
{% extends "base.html" %}


{% block title %} New Purchase {% endblock title %}


{% block content %}

    <div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" >New Purchase</div>
                <div class="col-md-4">
                    <div style="float:right; margin-top:8%">
                </div>
            </div>

        </div>
      </div>

<!--    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">New Purchase</div>-->

    <br>
  <div class="card-body" style="font-family: 'Alkalami'">
    <form method="post">

        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}

        <br>
        <div class="align-middle">
            <button type="submit" class="btn btn-success">Next</button>
<!--            <a href="{% url 'nonpurchases-list' %}" class="btn btn-secondary">Cancel</a>-->
        </div>

    </form>
    </div>
    </div>
{% endblock content %}