{% extends "base.html" %}
{% load static %}
<!--{% include "homepage/messages.html"%}-->

{% block title %} New Purchase {% endblock title %}


{% block content %}
  <div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
        <div class="col-md-8" style="font-family: 'Alkalami'" >New Supplier</div>
       <div class="col-md-4">
            </div>
    </div>
      </div>
      <div class="card-body" style="font-family: 'Alkalami'">

<!--    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">New Purchase</div>-->

        <br><!-- Log on to codeastro.com for more projects -->

        <form method="POST">
            {% csrf_token %}
            <div class="panel panel-default">
<!--            <div class="panel-heading panel-heading-text">Supplier Details</div>-->
            <div class="panel-body">

                <div class="form-group">
                    <label for="id_name" class="panel-body-text">Name:</label>
                    <input type="text"  name="name" class="form-control textinput" id="id_name" value="{{ b }}" readonly >
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_phone" class="panel-body-text">Phone No:</label>
                        <input type="text"  name="phone" class="form-control textinput" id="id_phone" value="" pattern="[0-9]{10}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_gstin" class="panel-body-text">GSTIN No:</label>
                        <input type="text"  name="gstin" class="form-control textinput" id="id_gstin" value="{{ d }}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_phone" class="panel-body-text">Email:</label>
                        <input type="email"  name="email" class="form-control textinput" id="id_phone" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_gstin" class="panel-body-text">Address:</label>
                        <input type="text" name="address" class="form-control textinput" id="id_gstin" value="{{ c }}" readonly>
                    </div>
                </div>


            </div><!-- Log on to codeastro.com for more projects -->
                <div class="align-middle">
<!--                <button type="submit" class="btn btn-info">Add Suplier</button>-->
<!--                <button type="reset" class="btn btn-info">Reset</button>-->
<!--                <a href="" class="btn btn-info">Add Suplier</a>-->
<!--            <button type="submit">Add Suplier</button>-->
            <button type="submit" class="btn btn-info">Add Suplier</button>

<!--            <button type="reset">Reset</button>-->
                <a href=""  type="reset" class="btn btn-secondary">Reset</a>
            </div>
        </div>
        </form>

        <br>


      </div>
    </div>
  </div>
    <!-- Custom JS to add and remove item forms --><!-- Log on to codeastro.com for more projects -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dialogbox.js' %}"></script>
<!--    <script src="script.js"></script>-->
{% endblock content %}




