{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Suppliers List {% endblock title %}


{% block content %}

    <div class="row" style="color: #575757; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Category List</div>
        <div class="col-md-4">       <!-- Log on to codeastro.com for more projects -->
            <div style="float:right;"> <a class="btn btn-success" href="{% url 'add-category' %}">Add New Category</a> </div>
        </div>
    </div>

    <br>

    <table class="table table-css table-hover table-bordered">

        <thead class="thead-dark align-middle">
            <tr>
                <th width="20%">No</th>
                <th width="20%">Category</th>
                <th width="20%">Sub-Category</th>
                <th width="20">Product</th>
                <th width="20%">Types</th>
                <th width="60%">Actions</th>
            </tr>
        </thead>

{% if queryset %}
        <tbody>
            {% for category in queryset %}
            <tr>
                <td class="align-middle"> {{ forloop.counter}} </td>
                <td class="align-middle"> {{ category.category }} </td>
                <td class="align-middle"> {{ category.subcategory }} </td>
                <td class="align-middle"> {{ category.product.product_name }} </td>
                <td class="align-middle"> {{ category.type }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        <a href="{% url 'update' category.pk %}" class="btn btn-info btn-sm">Edit</a>
                        <a href="{% url 'delete' category.pk %}" class="btn btn-danger btn-sm">Delete</a>

                    </div>
                </td>
            </tr>
                {% endfor %}
        </tbody>
    </table>

    <div class="align-middle"><!-- Log on to codeastro.com for more projects -->
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table><!-- Log on to codeastro.com for more projects -->

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty. Please try adding some.</div>

{% endif %}


{% endblock content %}