<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> <br>

    <form method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.name.errors }}
        {{ form.phone.errors }}
        {{ form.address.errors }}
        {{ form.email.errors }}
        {{ form.gstin.errors }}



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.category.id_for_label }}">Category:</label>
                {{ form.category }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.subcategory.id_for_label }}">Sub-Category:</label>
                {{ form.subcategory }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.type.id_for_label }}">Type:</label>
            {{ form.type }}
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "Add category" %}
                <button type="reset" class="btn btn-danger" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete' category.pk %}" class="btn btn-danger"> Delete category </a>
            {% endif %}
            <a href="{% url 'category-list' %}" class="btn btn-secondary">Cancel</a>
        </div>

    </form>

{% endblock content %}