{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row" style="margin:10px 0px 50px 0px;font-family:'Alkalami'">
        <div class="col-md-3" >
            <a href="{% url 'addnoncategory' %}" class="btn btn-lg btn-block btn-huge"
               style="border-radius: 25px; width:85%; margin:auto;background-color:#28559A; color:white">Category</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'addnonsubcategory' %}" class="btn btn-lg btn-block btn-huge"
               style="border-radius: 25px; width:85%; margin:auto;background-color:#28559A; color:white">Sub-Category</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'addnondescription' %}" class="btn btn-dark btn-lg btn-block btn-huge"
               style="border-radius: 25px; width:85%; margin:auto; background-color:#28559A; color:white; border:none">Description</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'gstver1' %}" class="btn btn-dark btn-lg btn-block btn-huge"
               style="border-radius: 25px; width:85%; margin:auto;background-color:#28559A; color:white; border:none">Supplier</a>
        </div>
    </div>

 <div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
        <div class="col-md-8" style="font-family:'Alkalami'" >Add Description</div>
        </div>
      </div>
    <br><!-- Log on to codeastro.com for more projects -->
     <div class="card-body" style="font-family: 'Alkalami';">

    <form method="post" class="panel panel-default">

        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="panel-body">
            {{ form.description.errors }}
               <div class="panel-body">
            {{ form.category.errors }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label  class="panel-body-text" style="font-family: 'Alkalami'">Category:</label>
                    {{ form.category}}
                </div>
            </div>
               </div>
         <div class="panel-body">
            {{ form.subcategory.errors }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label  class="panel-body-text" style="font-family: 'Alkalami'">Sub-Category:</label>
                    {{ form.subcategory}}
                </div>
            </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label  class="panel-body-text">Description:</label>
                    {{ form.description}}
                </div>
            </div>
            </div>

        <br>
                <div class="align-middle" style="font-family:'Alkalami'">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <a href="{% url 'master' %}" class="btn center btn-secondary">Go Back</a>
                </div>
    </form>
     </div>
 </div>

         {% if error == "no" %}
     <script>
     alert('Description Added Successfully');
     window.location=('{% url 'addnondescription' %}');
</script>
     {% endif %}

  <script>
function getCookie(name) {
let cookieValue = null;
if (document.cookie && document.cookie !== '') {
const cookies = document.cookie.split(';');
for (let i = 0; i < cookies.length; i++) {
const cookie = cookies[i].trim(); // Does this cookie string begin with the name we want?
if (cookie.substring(0, name.length + 1) === (name + '=')) {
cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
break;
 }
 }
 }
 return cookieValue;
 }
 const csrftoken = getCookie('csrftoken');
 let category_field = document.getElementById("id_category")
 let subcategory_field = document.getElementById("id_subcategory")
 category_field.addEventListener("change", pickState)
 function pickState(e){
 category_id = e.target.value
 const data = { id: category_id}
 let url = " {% url 'nonsubcategorys' %} "
 fetch(url, {
 method: 'POST', // or 'PUT'
 headers: {
 'Content-Type': 'application/json',
 'X-CSRFToken': csrftoken
 },
 body: JSON.stringify(data),
 })
 .then(response => response.json())
 .then(data => {
 console.log('Success:', data);
 subcategory_field.innerHTML = '<option value = "" selected="">---------------</option>'
 for(let i = 0; i<data.length; i++){
 subcategory_field.innerHTML += '<option value ="'+data[i]["id"]+'">'+data[i].subcategory+'</option>'
 }
 })
 .catch((error) => {
 console.error('Error:', error);
 });

 }
 let input = document.getElementById("id_name")
 let select = document.getElementsByTagName("select")
 console.log(select)
 input.classList.add("form-control")
 for(let i = 0; i <select.length; i++){
 select[i].classList.add("form-select")
 }


</script>

{% endblock content %}