{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}
  <div class="row" style="margin:10px 0px 50px 0px">
        <div class="col-md-6"style="font-family:'Alkalami'" >
            <a href="{% url 'new-stock' %}" class="btn btn-lg btn-block btn-huge"
               style="border-radius: 30px; width:70%; margin:auto;background-color:#4B9FE1; color:white">Consumable</a>
        </div>
        <div class="col-md-6" style="font-family:'Alkalami'">
            <a href="{% url 'new-nonstock' %}" class="btn btn-lg btn-block btn-huge"
               style="border-radius: 30px; width:70%; margin:auto;background-color:#4B9FE1; color:white">Non-Consumable</a>
        </div>
<br>
      <br>
    <div class="card text-left" style="width:100%">
      <div class="card-header" style="background-color:#01345B">
        <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
        <div class="col-md-8" style="font-family: 'Alkalami'" >Consumable Item</div>

    </div>
      </div>
      <div class="card-body" style="font-family: 'Alkalami'">
    <form method="post" >

        {% csrf_token %}
        {{ form.non_field_errors }}
<!--        <div style="margin-bottom:25px">-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">-->
<!--          <label class="form-check-label" for="inlineRadio1">Consumable Items</label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline" style="margin-left:20%">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">-->
<!--          <label class="form-check-label" for="inlineRadio2">Non-Consumable Items</label>-->
<!--        </div>-->
<!--        </div>-->
        <div class="form-row">
            <div class="form-group form-group col-md-3">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category}}
        </div>

        <div class="form-group form-group col-md-3">
            {{ form.subcategory.errors }}
            <label for="{{ form.subcategory.id_for_label }}">Subcategory:</label>
            {{ form.subcategory }}
        </div>

        <div class="form-group form-group col-md-3">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}
        </div>


        <div class="form-group form-group col-md-3">
            {{ form.unit.errors }}
            <label for="{{ form.unit.id_for_label }}">Unit:</label>
            {{ form.unit }}
        </div>
</div>

        <div class="form-row">
            <div class="form-group form-group col-md-6">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Received From:  </label>
            {{ form.name }}
            </div>

        <div class="form-group form-group col-md-6">
            {{ form.label_code.errors }}
            <label for="{{ form.label_code.id_for_label }}">Label-Code:</label>
            {{ form.label_code }}
            </div>


        </div>


         <div class="form-group ">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>

        <div class="form-row">
            <div class="form-group form-group col-md-6">
            {{ form.condition.errors }}
            <label for="{{ form.condition.id_for_label }}">Condition,packing:</label>
            {{ form.condition }}
            </div>

        <div class="form-group form-group col-md-6">
            {{ form.Mode_of_delivery.errors }}
            <label for="{{ form.Mode_of_delivery.id_for_label }}">Mode of Delivery:</label>
            {{ form.Mode_of_delivery }}
            </div>
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-info">{{ savebtn }}</button>
            {% if title == "New Stock" %}
                <button type="reset" class="btn btn-danger" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-stock' object.pk %}" class="btn  btn-danger"> Delete Stock </a>
            {% endif %}
<!--            <a href="{% url 'inventory' %}" class="btn btn-secondary">Cancel</a>-->
        </div>

    </form>
      </div>
    </div>
  </div>
<!--    <div style="color:#0F2557; font-style: bold; font-size: 3.5rem; border-bottom: 1px solid white;">INWARD ITEMS</div>-->
<!--    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> -->
 <br>
      <script>
function getCookie(name) {
let cookieValue = null;
if (document.cookie && document.cookie !== '') {
const cookies = document.cookie.split(';');
for (let i = 0; i < cookies.length; i++) {
const cookie = cookies[i].trim(); // Does this cookie string begin with the name we want?
if (cookie.substring(0, name.length + 1) === (name + '=')) {
cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
break;
 }
 }
 }
 return cookieValue;
 }
 const csrftoken = getCookie('csrftoken');
 let category_field = document.getElementById("id_category")
 let subcategory_field = document.getElementById("id_subcategory")
 category_field.addEventListener("change", pickState)
 function pickState(e){
 category_id = e.target.value
 const data = { id: category_id}
 let url = " {% url 'subcategorys' %} "
 fetch(url, {
 method: 'POST', // or 'PUT'
 headers: {
 'Content-Type': 'application/json',
 'X-CSRFToken': csrftoken
 },
 body: JSON.stringify(data),
 })
 .then(response => response.json())
 .then(data => {
 console.log('Success:', data);
 subcategory_field.innerHTML = '<option value = "" selected="">---------------</option>'
 for(let i = 0; i<data.length; i++){
 subcategory_field.innerHTML += '<option value ="'+data[i]["id"]+'">'+data[i].subcategory+'</option>'
 }
 })
 .catch((error) => {
 console.error('Error:', error);
 });
 let category_field = document.getElementById("id_category")
 let subcategory_field = document.getElementById("id_subcategory")
 let description_field = document.getElementById("id_description")
 subcategory_field.addEventListener("change", pickStates)
 function pickStates(e){
 subcategory_id = e.target.value
 const data = { id: subcategory_id}
 let url = " {% url 'descriptions' %} "
 fetch(url, {
 method: 'POST', // or 'PUT'
 headers: {
 'Content-Type': 'application/json',
 'X-CSRFToken': csrftoken
 },
 body: JSON.stringify(data),
 })
 .then(response => response.json())
 .then(data => {
 console.log('Success:', data);
 description_field.innerHTML = '<option value = "" selected="">---------------</option>'
 for(let i = 0; i<data.length; i++){
 description_field.innerHTML += '<option value ="'+data[i]["id"]+'">'+data[i].description+'</option>'
 }
 })
 .catch((error) => {
 console.error('Error:', error);
 });
 }
 }
 let input = document.getElementById("id_name")
 let select = document.getElementsByTagName("select")
 console.log(select)
 input.classList.add("form-control")
 for(let i = 0; i <select.length; i++){
 select[i].classList.add("form-select")
 }


</script>

{% endblock content %}