{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} NonConsumable List {% endblock title %}


{% block content %}
    <!-- Log on to codeastro.com for more projects -->
    <div class="card text-left">
          <div class="card-header" style="background-color:#01345B">
            <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" > Inward List(Non-Consumable)</div>
            <div class="col-md-4">
                <div style="float:right; margin-top:8%;font-family:'Alkalami'"> <a class="btn btn-info" href="{% url 'new-nonstock' %}">Add New Stock</a> </div>
            </div>
            </div>
          </div>
  <div class="card-body" style="font-family: 'Alkalami'">
<br>

<div style="overflow-y:auto; overflow-x:auto; font-family:'Alkalami'" ><style>
#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #343a40;
  color: white;
  border-color:#454d55;

}
</style>

    <div class="form-group" style="font-family:'Alkalami'">
        <input id="myInput" type="text" class="search form-control"  placeholder="Search">
    </div>
    <table class=" table-bordered table-hover"  style="font-family:'Alkalami'" id="myTable" onkeyup="myFunction()">
        <br>

        <thead class="thead-dark align-middle">
            <tr>
                <th width="8%">Stock Name</th>
                <th width="9%">Category</th>
                <th width="8%">Sub-Category</th>
                <th width="5%">Quantity Received</th>
                <th width="20%">Description</th>
                <th width="15%">Received From</th>
                <th width="5%">Condition</th>
                <th width="8%">Label-code</th>
                <th width="10%">Mode Of Delivery</th>
                <th width="12%">Actions</th>
            </tr>
        </thead>

{% if object_list %}

        <tbody>     <!-- Log on to codeastro.com for more projects -->
            {% for stock in object_list %}
        <tr>

                    <td class="align-middle">{{ stock.subcategory }}</td>
                    <td class="align-middle">{{ stock.category }}</td>
                    <td class="align-middle">{{ stock.subcategory }}</td>
                     <td class="align-middle">{{ stock.quantity }}</td>
                    <td class="align-middle">{{ stock.description }}</td>
                    <td class="align-middle">{{ stock.name }}</td>
                    <td class="align-middle">{{ stock.condition }}</td>
                    <td class="align-middle">{{ stock.label_code }}</td>
                    <td class="align-middle">{{ stock.Mode_of_delivery }}</td>




                       <td class="align-middle">
                       <a href="{% url 'edit-nonstock' stock.pk %}" class="btn btn-info btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                         <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg></a>
                        <a href="{% url 'delete-nonstock' stock.pk %}" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                         </svg></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
  </div>
    </div>
<br>
<br>
 <div style="font-family:'Alkalami'">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
    </div>
<br>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}<!-- Log on to codeastro.com for more projects -->
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>
<br>



{% else %}

        <tbody></tbody>
    </table>
<!-- Log on to codeastro.com for more projects -->

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty. Please try adding some.</div>

{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock content %}
