{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color:  #01345B; font-style: bold; font-size: 3rem;font-family: 'Alkalami'">IMD</div>
    <div class="align-middle" style="color: rgb(73, 73, 73);font-family: 'Alkalami'">India Meteorological Department </div>
    <br><br>

        <h2 style="color: #01345B;font-family: 'Alkalami'" class="align-middle">| Features |</h2> <br>
            <ul style="display:table; margin:0 auto; ">                
                <li style="color:#494949;font-family: 'Alkalami'">Stock details like current available stock are maintained</li>
                <li style="color:#494949;;font-family: 'Alkalami'">Incoming transactions are done through purchases</li>
                <li style="color:#494949;font-family: 'Alkalami'">Outgoing transactions are done through sales</li>
                <li style="color:#494949;font-family: 'Alkalami'">Every transaction performed through the software is recorded</li>
                <li style="color:#494949;font-family: 'Alkalami'">Bill is dynamically rendered and can be printed</li>
                <li style="color:#494949;font-family: 'Alkalami' ">Separate profiles are maintained for suppliers</li>
            </ul>  
        <br>
    <div class="align-middle">

            <br><br><br>
    </div>

{% endblock content %}