{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<div class="card text-left">
      <div class="card-header" style="background-color:#01345B">
        <div class="row no-gutters" style="color: white; font-style: bold; font-size: 3.5rem;">
            <div class="col-md-8" style="font-family: 'Alkalami'">IMD - Instruments House</div>
        </div>

</div>

    <div class="btn-group" style="font-family:'Alkalami'">
            <button type="button" class="btn dropdown-toggle" style="background-color:#d3dfe9;font-weight : bold"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quick Access</button>
            <div class="dropdown-menu dropdown-menu dropdown-menu-lg-right" style="background-color:rgb(241 249 255)" style="font-family:'Alkalami'">
                    <a class="dropdown-item" href="#">Inward List &raquo;</a>
                        <ul>
                            <li>
                            <a class="dropdown-item" href="{% url 'inventory' %}">Consumable Items</a>
                            </li>

                            <li>
                            <a class="dropdown-item" href="{% url 'nonconsumable' %}">Non-Consumable Items</a>
                            </li>
                        </ul>
                <a class="dropdown-item "  href="#">Inward Item List &raquo;</a>
                        <ul>
                            <li>
                            <a class="dropdown-item" href="{% url 'purchases-list' %}">Consumable Items</a>
                            </li>

                            <li>
                            <a class="dropdown-item" href="{% url 'nonpurchases-list' %}">Non-Consumable Items</a>
                            </li>
                        </ul>

                    <a class="dropdown-item "  href="#">Outward List &raquo;</a>
                        <ul>
                            <li>
                            <a class="dropdown-item" href="{% url 'sales-list' %}">Consumable Items</a>
                            </li>

                            <li>
                            <a class="dropdown-item" href="{% url 'nonsales-list' %}">Non-Consumable Items</a>
                            </li>
                        </ul>
                    <a class="dropdown-item "  href="#">Supplier &raquo;</a>
                        <ul>
                            <li>
                            <a class="dropdown-item" href="{% url 'consumer-list' %}">Consumable List</a>
                            </li>

                            <li>
                            <a class="dropdown-item" href="{% url 'suppliers-list' %}">Non-Consumable List</a>
                            </li>
                        </ul>

            </div>
        </div>
    </div>

<br>
    <br>

    <div class="content-section">
    <div class="row">
         <div class="col-md-6">
            <div style="font-family: 'Alkalami';color: #28559A; font-style: bold;text-align:center; font-size: 30px; border-bottom: 2px solid #4e6570">Recent Inward(Consumable)</div><br>
            {% for item in inward %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                {% endif %}
                <div class="row" style="font-family: 'Alkalami'">
                    <div class="col-md-9" style="font-family:'Alkalami'">
                        Bill No: #{{ item.billno }} <br>
                        Inward by :<b>{{ item.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2" style="font-family:'Alkalami'">₹ {{ item.total }} <br> <a href="{% url 'inward-bill' item.billno %}">View </a> </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <div style="font-family:'Alkalami';color: #28559A; font-style: bold; text-align:center; font-size: 30px; border-bottom: 2px solid #4e6570">Recent Inward(Non-Consumable)</div><br>
            {% for item in noninward %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570;font-family:'Alkalami'"></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-9" style="font-family:'Alkalami'">
                        Bill No: #{{ item.billno }} <br>
                        Inward by: <b>{{ item.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2" style="font-family:'Alkalami'"> ₹{{ item.total }} <br> <a href="{% url 'inwardnc-bill' item.billno %}">View</a> </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>



   <div class="content-section">
    <div class="row">
         <div class="col-md-6">
            <div style="font-family: 'Alkalami';color: #28559A; font-style: bold;text-align:center; font-size: 30px; border-bottom: 2px solid #4e6570">Recent Outward(Consumable)</div><br>
            {% for item in sales %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570"></div><br>
                {% endif %}
                <div class="row" style="font-family: 'Alkalami'">
                    <div class="col-md-9" style="font-family:'Alkalami'">
                        Bill No: #{{ item.billno }} <br>
                        Outward by <b>{{ item.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2" style="font-family:'Alkalami'"> <a href="{% url 'sale-bill' item.billno %}">View</a> </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <div style="font-family:'Alkalami';color: #28559A; font-style: bold; text-align:center; font-size: 30px; border-bottom: 2px solid #4e6570">Recent Outward(Non-Consumable)</div><br>
            {% for item in nonsales %}
                {% if not forloop.first %}
                    <br><div style="border-bottom: 0.5px solid #4e6570 "></div><br>
                {% endif %}
                <div class="row">
                    <div class="col-md-9 " style="font-family:'Alkalami'">
                        Bill No: #{{ item.billno }} <br>
                        Outward by <b>{{ item.name }}</b> <br>
                        <small><i>{{ item.time.date }}</i></small>
                    </div>
                    <div class="col-md-2" style="font-family:'Alkalami'"> <a href="{% url 'nonsale-bill' item.billno %}">View</a> </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>





</div>

    <script src="{% static 'js/Chart.min.js' %}"></script>


{% endblock content %}





























