{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} History Page {% endblock title %}


{% block content %}
    <!-- Log on to codeastro.com for more projects -->
    <div class="card text-left">
          <div class="card-header" style="background-color:#01345B">
            <div class="row" style="color: white; font-style: bold; font-size: 3.5rem">
            <div class="col-md-8" style="font-family: 'Alkalami'" >History Page</div>
            <div class="col-md-4">
            </div>
            </div>
          </div>
    </div>


    <div style="border-bottom: 1px solid white;"></div>

    <br>

    <div class="form-group" style="font-family:'Alkalami'">
        <input id="myInput" type="text" class="search form-control"  placeholder="Search">
    </div>
<div class="col-md-14 col-lg-14 col-sm-14">

<div style="overflow-y:auto; overflow-x:auto; font-family:'Alkalami'" >
    <style>
#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: middle;
  background-color: #343a40;
  color: white;
  border-color:black;

}
</style>


 <table class="table-bordered table-hover" style="font-family:'Alkalami'" id="myTable"  onkeyup="myFunction()">
        <br>

        <thead class="thead-dark align-middle">
            <tr>
                <th width="27%">KDNO</th>
                <th width="20%">Sors_sink</th>
                <th width="4%">ref1</th>
                <th width="5%" >ref2</th>
                <th width="4%">ref3</th>
                <th width="10%"> Unit_Cost</th>
                <th width="5%">iss_srs</th>
                <th width="5%">TRS_Type</th>
                <th width="10%">Quantity_Trs</th>
                <th width="10%">Balance</th>
            </tr>
        </thead>

{% if object_list %}

        <tbody style="border-color:black;" >
            {% for stock in object_list %}
        <tr>

                    <td class="align-middle">{{ stock.kdno }}</td>
                    <td class="align-middle">{{ stock.sors_sink }}</td>
                    <td class="align-middle">{{ stock.ref1 }}</td>
                    <td class="align-middle">{{ stock.ref2 }}</td>
                    <td class="align-middle">{{stock.ref3}}</td>
                    <td class="align-middle">{{ stock.unit_cost }}</td>
                    <td class="align-middle">{{ stock.iss_srs }}</td>
                    <td class="align-middle">{{ stock.trs_type }}</td>
                    <td class="align-middle">{{ stock.qty_trs }}</td>
                    <td class="align-middle">{{ stock.balance }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<br>
<div class="align-middle">
          {% if object_list.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in object_list.paginator.page_range %}
          {% if object_list.number == p %}
            <li class="page-item"><a class="page-link" style="color: blue;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
    </div>


        <br>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty. Please try adding some.</div>

{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock content %}